.Container {
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.inn {
  border-radius: 12px;
  padding: 1rem;
  height: 500px;
  width: 260px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
  text-align: center;
  background-color: rgb(238, 229, 246);
}
.inn:hover {
  transform: scale(1.03);
}
.inn img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  margin-top: 10px;
}
